<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <div>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
<% end %>
